*{
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor-general {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  border: 7.5px solid #fff;
}

h1 { 
  color: #fff;
  text-align: center;
  font-size: 1em;
}